html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inconsolata", monospace;

  line-height: 1.4;
  font-size: 17px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
